---
const today = new Date();

import {siLinkedin, siGithub, siCodepen} from 'simple-icons'
import { SITE_TITLE } from '../consts';

let networks = [
	{
		icon:siLinkedin.svg,
		href:"https://linkedin.com/in/tom-chauvel"
	},
	{
		icon:siGithub.svg,
		href:"https://github.com/aquabx"
	},
	{
		icon:siCodepen.svg,
		href:"https://codepen.io/AquaBx/pens/public"
	}
]

---

<footer class="p-8 grid place-center w-full text-center gap-4">
	&copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved.
	<div class="flex gap-4 justify-center">
		{networks.map((n) => {
			return <a target="blank" class="h-8 aspect-square" href={n.href} set:html={n.icon}></a>
		})}

	</div>
</footer>